<div class="section">
    <h1>Intellectual Property Policy</h1>
    <p>
    Bandcamp, Inc. ("Company") has adopted the following general policy toward 
    claims of infringement with respect to intellectual property owned or 
    controlled by third parties in accordance with the  
    <a href="http://lcweb.loc.gov/copyright/legislation/dmca.pdf">Digital Millennium Copyright Act</a> 
    (pdf).  The address of Company's Designated Agent to Receive Notification of 
    Claimed Infringement ("Designated Agent") is listed at the end of this policy.
    </p>
    <p>
    It is Company's policy to (1) block access to or remove material that it 
    believes in good faith to be the intellectual property of a third party 
    (e.g., copyrights, trademarks, trade secrets, etc.) that has been illegally 
    copied and distributed by any of our advertisers, affiliates, content providers, 
    members or users; and (2) remove and discontinue service to repeat offenders. 
    A repeat infringer is a user for whom Bandcamp has received more than two 
    notices of claimed infringement or for which Bandcamp has had to remove content 
    more than twice. Notwithstanding the preceding sentence, Bandcamp reserves the 
    right to immediately terminate the account of any user for egregious infringing 
    activities in Bandcamp's sole determination and discretion.
    </p>
    <app-copyright-procedures></app-copyright-procedures>
    <p>
    Please contact Company's Designated Agent to Receive Notification of 
    Claimed Infringement at the following address:
    <a href="mailto:copyright@bandcamp.com">copyright@bandcamp.com</a>, 
    or by mail at:<br>
    </p>
    <p>
    DMCA Complaints<br>
    Bandcamp<br>
    1901 Broadway<br>
    Oakland, CA 94612<br>
    United States
    </p>
    <p>
    Please bear in mind that we can process claims submitted via email to 
    <a href="mailto:copyright@bandcamp.com">copyright@bandcamp.com</a> 
    much more quickly than those submitted to the above physical address.
    </p>
</div>
