<div class="footer-nav-content">
  <div class="footer-nav-col footer-nav-lcol1">
    <ul class="footer-nav-col-list footer-nav-lcol1-list1">
      <li><a href="/about">About Us</a></li>
      <li><a href="/fair_trade_music_policy">Fair Trade Music Policy</a></li>
      <li><a href="/jobs">Jobs</a></li>
      <li><span id="apps-label">Apps:</span> <a id="andr" href="https://play.google.com/store/apps/details?id=com.bandcamp.android">Android</a> <a id="ios" href="https://itunes.apple.com/us/app/bandcamp/id706408639?mt=8">iOS</a></li>
      <li><a href="/buttons">Buttons / Logos</a></li> 
    </ul>
    <ul class="footer-nav-col-list footer-nav-lcol1-list2">
      <li><a href="/terms_of_use">Terms of Use</a></li>
      <li><a href="/privacy">Privacy</a></li>
      <li><a href="/copyright">Copyright Policy</a></li> 
    </ul>
  </div>
  <div class="footer-nav-col footer-nav-lcol2">
    <ul class="footer-nav-col-list footer-nav-lcol2-list">
      <li><a href="/gift_cards?from=footer">Gift Cards</a></li>
      <li><a href="https://daily.bandcamp.com">Bandcamp Daily</a></li>
      <li><a href="https://www.facebook.com/Bandcamp">Facebook</a></li>
      <li><a id="twt" href="https://twitter.com/bandcamp">Twitter</a> <a id="twtstat" href="https://twitter.com/bandcampstatus">Status</a></li>
      <li><a href="https://www.instagram.com/bandcamp">Instagram</a></li>
      <li><a href="https://get.bandcamp.help/hc/en-us">Contact/Help</a></li> 
    </ul>
  </div>
  <div class="footer-nav-col footer-nav-rcol">
    <ul class="footer-nav-col-list footer-nav-rcol-list"> 
      <li><a href="/login?from=footer">Log in</a><li>
      <li><a href="/artists?from=hpartists">Bandcamp for Artists</a></li>
      <li><a href="/fans?from=hpfans">Bandcamp for Fans</a></li>
      <li><a href="/labels?from=hplabels">Bandcamp for Labels</a></li>              
      <li class="view-switcher"><a href="#">Mobile view</a></li> 
    </ul>
    <ul class="footer-nav-col-lang">
      <li id="lang-picker">
        <span id="lang-picker-lang">Language:&nbsp; </span>
        <a href="#" id="lang-picker-current-lang">English</a>
      </li>
    </ul>
  </div>
</div>
