<div class="factoid">
  <div class="factoid-container">
    <div class="col lcol">
      <div class="dots left-dots"></div>
    </div>

    <div class="col mcol">
      <p class="factoid-text">
        Fans have paid artists <span class="nowrap">
            <strong>$990&nbsp;million</strong> using Bandcamp
        </span>, and <span class="nowrap">
            <strong>$188&nbsp;million</strong> in the last year.
        </span>
      </p>
    </div>

    <div class="col rcol">
      <div class="dots right-dots"></div>
    </div>
  </div>
</div>
