div.navbar {
  position: relative;
  background-color: #ffffff;
  width: 100%;
  height: 101px;
  padding: 0;
}

div.navbar-container {
  position: relative;
  max-width: 1106px;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

div.navbar-lcol {
  position: absolute;
  left: 0;
  width: 60%;
  height: 100%;
}
div.navbar-rcol {
  position: absolute;
  right: 0;
  width: 40%;
  height: 100%;
}

div.navbar-brandlogo {
  height: 32px;
  margin: 23px 0 5px 0;
}

div.navbar-subtext {
  margin: 10px 0 16px;
}

.blue-gradient {
  color: #408ea3;
  background: -webkit-linear-gradient(left, #6046FE, #1DA0C3);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  text-decoration: none;
}


h2.subtext-h {
  color: #161113;
  font-size: 16px;
  font-weight: 400;
  opacity: 1;
  transition: opacity .2s ease;
}

.search-height {
  height: 36px;
}

div.navbar-search {
  margin: 16px 0 0 0;
}

form.menu-search {
  position: relative;
  -webkit-user-select: auto;
  appearance: none;
  border-radius: 3px;
  color: rgba(22,17,19,0.7);
  font-size: 14px;
  line-height: 16px;
  background: #f3f3f3;
  border: 1px solid #f3f3f3;
  outline: none;
  width: fit-content;
  float: right;
  visibility: visible;
  transition: visibility 0.2s, opacity .2s ease-in;
}

button.menu-search-button {
  background: transparent;
  border: none;
  height: 16px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 12px;
  top: 11px;
  width: 16px;
  z-index: 11;
  text-indent: 0px;
  fill: #333;
}

input.menu-search-input {
  box-shadow: 0 0 5px #d7d7d7;
  -webkit-user-select: auto;
  appearance: none;
  border-radius: 3px;
  color: rgba(22,17,19,0.7);
  outline: none;
  font-size: 14px;
  line-height: 16px;
  background: #f3f3f3;
  border: 1px solid #f3f3f3;
  width: 296px;
  height: 38px;
  padding: 0 35px 0 10px;
}

div.navbar-acc-man {
  margin: 10px 0 0 0;
  height: fit-content;
  width: 100%;
}

ul.acc-man-list {
  text-align: right;
  list-style-type: none;
  margin: 10px 0 0 0;
}

li.list-elem {
  display: inline;
  padding: 0 0 0 25px;
}

a.elem-link {
  color: #161113;
  font-weight: 600;
  text-decoration: none;
}
