<a class="lscard-coverlink" [href]="stream_url">
    <img class="lscard-coverimg" src="">
</a>
<div class="lscard-info">
    <div class="lscard-title">
        <a class="link" [href]="stream_url">
            <h4>
                <span class="titlefmt streamtitle">{{streamtitle}}</span>
            </h4>
            <span class="titlefmt streamartist">
                {{streamartist}}
            </span>
        </a>
    </div>
    <div class="lscard-time">
        <p class="timefmt date">{{streamdate}}</p>
        <p class="timefmt time">{{streamtime}}<p>
    </div>
</div>
