<h3>Once Proper Bona Fide Infringement Notification is Received by the Designated Agent:</h3>
<p>
It is Company's policy:
</p>
<ol>
    <li>
        to remove or disable access to the infringing material;
    </li>
    <li>
        to notify the content provider, member or user that it has removed or 
        disabled access to the material; and
    </li>
    <li>
        that repeat offenders will have the infringing material removed from 
        the system and that Company will terminate such content provider's, 
        member's or user's access to the service.
    </li>
</ol>
