div.email-intake {
    width: 100%;
}

div.email-intake-container {
    overflow: auto;
    max-width: 1106px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

p.email-intake-text {
    font-family: 'HelveticaNeue-medium', Helvetica-medium, sans-serif;
    font-size: 16px;
    color: #030303;
    margin: auto;
    text-align: center;
    padding-top: 15px;
}

form.email-intake-form {
    box-sizing: content-box;
    display: block;
    width: 435px;
    height: 32px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 40px;
}

input.email-intake-input {
    box-sizing: content-box;
    font-size: 13px;
    width: 280px;
    height: 28px;
    float: left;
    padding: 1px 2px 1px 10px;
    background: #fff;
    border: 1px solid #bebebe;
    border-radius: 3px;
    color: rgba(22,17,19,0.7);
    outline: none;
}

button.email-intake-btn {
    background-color: #232323;
    color: white;
    border: none;
    width: 131px;
    height: 32px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.12em;
    border-radius: 3px;
    float: right;
    display: inline;
    outline: none;
}
