<h3 id="copyright_infringement_procedure">Procedure for Reporting Claimed Infringement:</h3>
<p>
If you believe that material or content residing on or accessible through
the Company Web site or service infringes an intellectual property right 
that you own or control, please send a notice of claimed infringement 
containing the following information and <em>only</em> the following 
information to the Designated Agent listed below. Please note that you 
will be liable for damages, including costs and attorneys' fees, if you 
materially misrepresent that content or an activity is infringing your 
copyrights.
<span style="color:red;">Your communication must include all of the following items:</span>
</p>
<ol>
    <li>
        <p>
        A physical or electronic signature of a person authorized to act on 
        behalf of the owner of the work that has been allegedly infringed;
        </p>
    </li>
    <li>
        <p>
        Identification of works or materials being infringed;
        </p>
    </li>
    <li>
        <p>
        Identification of the material that is claimed to be infringing 
        including information regarding the location of the infringing 
        materials that the intellectual property owner seeks to have removed, 
        with sufficient detail so that Company is capable of finding and 
        verifying its existence; <strong>Providing URLs in the body of an 
        email is the best way to help us locate content quickly.</strong>
        </p>
    </li>
    <li>
        <p>
        Information reasonably sufficient to permit us to contact you, such 
        as an address, telephone number, and, if available, an electronic 
        mail address at which you may be contacted;
        </p>
    </li>
    <li>
        <p>
        If claiming <strong>copyright infringement,</strong> the statement 
        "I swear under penalty of perjury that I am the copyright owner or 
        am authorized to act on behalf of the owner of an exclusive right 
        that is allegedly infringed, and that the information in this 
        notification is accurate. I have a good faith belief that use of 
        the copyrighted materials described above as allegedly infringing 
        is not authorized by the copyright owner, its agent, or the law."
        </p>
        <p>If claiming <strong>trademark infringement,</strong> the 
        statement "I swear under penalty of perjury that I am the trademark 
        owner or am authorized to act on behalf of the owner of an exclusive 
        right that is allegedly infringed, and that the information in 
        this notification is accurate. I have a good faith belief that use 
        of the materials described above as allegedly infringing is not 
        authorized by the intellectual property owner, its agent, or the law."
        </p>
    </li>
</ol>
<p>
Note that a copy of your legal notice will be forwarded to the party 
responsible for providing the alleged infringing content.
</p>

<p><span style="color:red;">Please do not include <em>any</em> information in your report other than the above items. The wonderful thing about the DMCA is that it makes the sordid details of your bass player's departure completely irrelevant. Simply include the information above and we'll have all the information we need.</span></p>

